<%- include('../partials/header') %>
  <div class = "main-container">
 <section class = "second-container">
    <% books.forEach(function(b) { %>
        <form
                    action="/books/<%= b._id %>?_method=DELETE"
                    id="delete-form"
                    method="POST"
                >
                <!-- <button type="submit">X</button> -->
                <div class = "container">
                    <button class="delete" type="submit">X</button>
                    <a href="/books/<%= b._id %>"><img class="grid" src = <%= b.link %> /></a>
                    <!-- <a href="/books/<%= b._id %>">DETAILS</a> -->
                </div>
                </form>
            <% }); %>
            </section>
        </div>
</body>
</html>