<%- include('../partials/header') %>

    <div class = "show">
    <div class = "book">
      <img class="user-cover"src = <%= book.link %> alt= "book cover"/>
      <div class ="new-content">
    <section id="show-page">
        <div><h3>Title: </h3></div>
        <br>
        <div><%= book.title %></div>
        <br>
        <div>Author: </div>
        <br>
        <div><%= book.author.join(', ') %></div>
        <br>
        <div>Published: </div>
        <br>
        <div><%= book.publish %></div>
        <br>
        <div>Description: </div>
        <br>
        <div><%= book.description %></div>
        <br>
      </section>
      <a href="/books/<%= book._id %>/edit">Update</a>
    </div>
    </div>
    </div>
    
    <div class = "review-container">
      <h2>Reviews</h2>
      <br>
<form id="add-review-form" method="POST"
  action="/books/<%= book._id %>/reviews">
  <label>Review:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input type="submit" value="Add Review">
</form>
</div>
<br> <br>
<div class ="all-reviews">
<% if (book.reviews.length) { %>
  <table>
    <thead>
      <tr class="space">
        <th></th>
      	 <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% book.reviews.forEach(function(r) { %>
        <form
                    action="/books/<%= book._id %>/reviews/<%= r._id %>?_method=DELETE"
                    id="delete-form"
                    method="POST"
                >
        <tr>
          <td><button type="submit">X</button></td>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.content %></td>
          <td><%= r.rating %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>
</div>
</body>
</html>